.header {
    width: 100%;
    position: fixed;
}

.container {
    max-width: 1200px;
    padding: 0 20px;
    margin: 0 auto;
}

.container-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav {
    display: flex;
    justify-content: space-between;
    gap: 0 35px;
    padding: 10px 0;
}

.menu {
    display: flex;
    gap: 0 35px;
    padding: 15px 0;

}

button {
    font-family: inherit;
    font-style: inherit;
    font-weight: inherit;
    border-radius: 20px;
    letter-spacing: .4px;
    cursor: pointer;
    background-color: white;
    color: black;
}

.button-nav {
    padding: 11px 20px;
    font-size: 16px;
}

.button-2,
.button-3 {
    display: inline-grid;
    grid-auto-flow: column;
    column-gap: 6px;
    padding: 11px;
    font-size: 15px;
    align-items: center;
}

section {
    display: grid;
}

.camera-settings {
    display: flex;
    justify-content: space-evenly;
}

.content-1 {
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: repeat(6, 111px);
    grid-gap: 10px;
}

.content-1 h1 {
    grid-column: 2 / 3;
    grid-row: 4 / 5;
    align-self: center;
}

#h1 {
    letter-spacing: 2px;
    text-transform: uppercase;
}

.content-1 p {
    grid-column: 2 / 3;
    grid-row: 5 / 6;
    align-self: center;
}

.content-1 div {
    grid-column: 3 / 4;
    grid-row: 6 / 7;
}

.content-2 h2 {
    padding: 120px 0 16px 0;
}

.content-2 p {
    padding: 0 0 42px 0;
}

.product-photography {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 20px;
    padding: 0 60px 100px 60px;
}

.content-2-dv {
    padding: 421px 30px 30px 30px;
    text-align: left;
}

.content-2-dv p {
    padding: 11px 0 13px 0;
}

.product-photography .content-2-1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.product-photography .content-2-2 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.product-photography .content-2-3 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.product-photography .content-2-4 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.content-3 {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 150px);
}

.content-3 h2 {
    grid-column: 4 / 5;
    grid-row: 2 / 3;
    align-self: flex-end;
}

.content-3 p {
    grid-column: 4 / 5;
    grid-row: 3 / 4;
    align-self: flex-start;
}


.content-3 div {
    grid-column: 4 / 5;
    grid-row: 4 / 5;
    align-self: center;
}

.content-4 {
    grid-template-columns: 0.2fr 1.6fr 0.2fr 1fr 1fr;
    grid-template-rows: repeat(6, 84px);
}

.content-4 h2 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    align-self: flex-end;
}

.content-4 p {
    grid-column: 2 / 3;
    grid-row: 3 / 5;
    align-self: center;
}

.content-4 button {
    grid-column: 2 / 3;
    grid-row: 5 / 6;
    align-self: flex-start;
    justify-self: flex-start;
}

.content-4 img {
    grid-column: 4 / 6;
    grid-row: 1 / 7;
    justify-items: stretch;
}

.content-4 div {
    grid-column: 5 / 6;
    grid-row: 6 / 7;
}

.content-5 {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 150px);
}

.content-5 h2 {
    grid-column: 4 / 5;
    grid-row: 2 / 3;
    align-self: flex-end;
}

.content-5 p {
    grid-column: 4 / 5;
    grid-row: 3 / 4;
    align-self: flex-start;
}


.content-5 div {
    grid-column: 4 / 5;
    grid-row: 4 / 5;
    align-self: center;
}

body {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    color: #C0C0C0;
}

.menu {
    color: white;
}

.content-1,
.content-2 {
    text-align: center;
}

.content-1 p,
#h1,
.product-photography {
    font-size: 14px;
    line-height: 20px;
    color: #C0C0C0;
}

.content-1 h1 {
    font-size: 54px;
    line-height: 59px;
    color: white;
}

.content-1 div {
    font-size: 12px;
    line-height: 12px;
    color: #C0C0C0;
}

.content-2 h2 {
    font-size: 40px;
    line-height: 42px;
    color: #FFFFFF;
}

.content-2 h3 {
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
}

#content-2-p {
    font-size: 23px;
    line-height: 30px;
    color: #C0C0C0;
}

.content-2 button {
    font-size: 15px;
    line-height: 20px;
}

.content-3 h2,
.content-5 h2 {
    color: #FFFFFF;
    letter-spacing: 2px;
    text-transform: uppercase;
}


.content-4 {
    color: #FFFFFF;
}

.content-4 h2 {
    font-size: 28px;
    line-height: 32px;
}

#h-2 {
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 20px;
    color: #C0C0C0;
}

header {
    background-color: black;
}

.content-1 {
    background-image: url(./assets/images/section1.jpg);
    background-repeat: no-repeat;
}

.content-2 {
    background-color: black;
}

.content-2-1 {
    background-image: url(./assets/images/section2-1.jpg);
}

.content-2-2 {
    background-image: url(./assets/images/section2-2.jpg);
}

.content-2-3 {
    background-image: url(./assets/images/section2-3.png);
}

.content-2-4 {
    background-image: url(./assets/images/section2-4.png);
}

.content-2-1,
.content-2-2,
.content-2-3,
.content-2-4 {
    background-repeat: no-repeat;
    background-size: cover;
}

.content-3 {
    background-image: url(./assets/images/section3.jpg);
    background-repeat: no-repeat;
}

.content-6 {
    background-color: black;
}

.content-5 {
    background-image: url(./assets/images/section5.jpg);
}

.content-4 {
    background-color: black;
    background-image: url(./assets/images/section4.jpg);
    background-position: right;
    background-size: 650px 100%;
    background-repeat: no-repeat;
}